<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.nx.dao.ErweimaMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.nx.entity.Erweima" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="partner" property="partner" jdbcType="VARCHAR" />
    <result column="merchant" property="merchant" jdbcType="VARCHAR" />
    <result column="sum" property="sum" jdbcType="VARCHAR" />
    <result column="now_time" property="nowTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, partner, merchant, sum, now_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from erweima
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from erweima
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unionpay.nx.entity.Erweima" >
    insert into erweima (id, partner, merchant, 
      sum, now_time)
    values (#{id,jdbcType=INTEGER}, #{partner,jdbcType=VARCHAR}, #{merchant,jdbcType=VARCHAR}, 
      #{sum,jdbcType=VARCHAR}, #{nowTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.nx.entity.Erweima" >
    insert into erweima
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="partner != null" >
        partner,
      </if>
      <if test="merchant != null" >
        merchant,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="nowTime != null" >
        now_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partner != null" >
        #{partner,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=VARCHAR},
      </if>
      <if test="nowTime != null" >
        #{nowTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.nx.entity.Erweima" >
    update erweima
    <set >
      <if test="partner != null" >
        partner = #{partner,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        merchant = #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=VARCHAR},
      </if>
      <if test="nowTime != null" >
        now_time = #{nowTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.nx.entity.Erweima" >
    update erweima
    set partner = #{partner,jdbcType=VARCHAR},
      merchant = #{merchant,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=VARCHAR},
      now_time = #{nowTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--  *************************  -->
  <select id="getAllErweima" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from erweima
  </select>
</mapper>